body{ 
    font-family: 'Poppins', sans-serif;
}
h1{ 
    font-size: 50px;
}
.orange-color{ 
    color:orange;
}
section{ 
    display:flex
}
.half-weith{
    width: 50%;
    padding-left: 5%;
}
.half-weith img{
    width: 80%;
}
.link-batton{
    color:orange;
    padding: 10px 40px;
    border-radius: 5px;
    
}
.top-banner{
    background-image);
}
.dream-big{
    background-image:url(images/dream-big.png)
}
